
<div class="border-right p-3" id="sidebar">
  <h3 class="text-dark">
   Búsqueda
  </h3>
  <hr class="text-dark"/>
  <div class="btn-group-vertical">
    <div class=" btn-group-vertical " role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1">Por País</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2">Por Región</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio3">Por Capital</label>
    </div>
  </div>
  

</div>
